/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 768px;
  margin: 0 auto;
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-datepicker__input-container {
  color: black;
}

.spinner {
  border: 5px solid transparent;
  border-radius: 50%;
  border-top: 5px solid $red;
  border-right: 5px solid $red;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.cat-box .cat-box-img{
  background-color: #F8f8f8;
}
.cat-box.selected .cat-box-img{
  background-color: #FF4E00;
}
